
header{
	padding:15px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 9999;
	width: 100%;
	top:0;

}

.banner{

	background: url('../imagens/1.jpg') no-repeat center  ;
	background-size:  cover;
	height: 80vh;
	position: relative;
  background-attachment: fixed;
	
}
li.nav-item{
	transition: 1s;
	border-radius: 5px;
}

li.nav-item:hover{
	background-color: white;
	border-radius: 5px;
	transition: 1s;
}

li.nav-item:hover a.nav-link{
	color: #363636;
}

a.nav-link{
	color: #DCDCDC;
}



.nosso-time{
  background: url("../imagens/time.jpeg");
  background-size: cover;
  background-attachment: fixed;
   background-position: center;
  background-repeat: no-repeat;
  color: white;

}

.perfil{

  text-align: center;

  margin-top: 4%;

}



.foto{

  margin: 0 auto;

  background-size: 120% 120%; background-position: center;

}



.nosso-time .foto{

  background-color: gray;

   height: 150px; 

   width: 150px;

   border-radius: 100%;

   transition: 0.5s;

}










